doctype html
html
	head(lang="en")
		title responsive layout
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/media.css")
		<!--[if lt IE 9]>
		script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
		<![endif]-->

	body
		#pagewrap
			header#header
				hgroup
					h1#site-logo Demo
					h2#site-description Site Description
				nav#nav
					ul#main-nav
						li
							a(href="#") Home
						li
							a(href="#")	menu1
						li
							a(href="#")	menu2
						li
							a(href="#")	menu3

					form#search-form
						input(type="search")
			content#content
				article.post
					h2 counting stars lyrics
					h3 One Republic
					img#content-img
					p
						|Lately I've been, I've been losing sleep<br/>
						|Dreaming about the things that we could be<br/>
						|But baby I've been, I've been prayin' hard<br/>
						|Said no more counting dollars<br/>
						|We'll be counting stars<br/>
						|Yeah, we'll be counting stars<br/>
						|I see this life<br/>
						|Like a swinging vine<br/>
						|Swing my heart across the line<br/>
						|In my faces flashing signs<br/>
						|Seek it out and ye shall find<br/>
						|Old, but I'm not that old<br/>
						|Young, but I'm not that bold<br/>
						|And I don't think the world is sold<br/>
						|I'm just doing what we're told<br/>
						|I feel something so right<br/>
						|By doing the wrong thing<br/>
						|I feel something so wrong<br/>
						|By doing the right thing<br/>
						|I could lie, could lie, could lie<br/>
						|Everything that kills me makes me feel alive<br/>
						|Lately I've been, I've been losing sleep<br/>
						|Dreaming about the things that we] could be<br/>
						|Baby I've been, I've been prayin' hard<br/>
						|Said no more counting dollars<br/>
						|We'll be counting stars<br/>
						|Lately I've been, I've been losing sleep<br/>
						|Dreaming about the things that we could be<br/>
						|But baby I've been, I've been prayin' hard<br/>
						|Said no more counting dollars<br/>
						|We'll be, we'll be counting stars<br/>
						|I feel the love<br/>
						|And I feel it burn<br/>
						|Down this river every turn<br/>
						|Hope is a four letter word<br/>
						|Make that money<br/>
						|Watch it burn<br/>
						|Old, but I'm not that old<br/>
						|Young, but I'm not that bold<br/>
						|And I don't think the world is sold<br/>
						|I'm just doing what we're told<br/>
						|I, feel something so wrong<br/>
						|Bydoing the right thing<br/>
						|I could lie, could lie, could lie<br/>
						|Everything that drowns me makes me wanna fly<br/>
						|Lately I've been, I've been losing sleep<br/>
						|Dreaming about the things that we could be<br/>
						|Baby I been, I been prayin' hard<br/>
						|Said no more counting dollars<br/>
						|We'll be counting stars<br/>
						|Lately I've been, I've been losing sleep<br/>
						|Dreaming 'bout the things that we could be<br/>
						|But baby I've been, I've been prayin' hard<br/>
						|Said no more counting dollars<br/>
						|We'll be, we'll be counting stars<br/>
						|Take that money and watch it burn<br/>
						|Sink in the river the lessons I learned<br/>


			aside#sidebar
				section.widget
					h3 Sidebar
					ul
						li If you want me to stay
						li treasure
						li 让我们荡起双桨

			aside#filter
				section.widget
					h3 filter
					ul
						li 歌手
						li 情歌王
						li IQ博士
						li 哆啦A梦

			footer#footer create by <b>KevinChen</b> 2015.4.6